.cl-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cl-new-span {
    display: flex;
    gap: 2rem;
}

.cl-new-picker, .cl-new-random {
    display: grid;
    height: min-content;
    column-gap: 1.5rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: end;
}

.cl-new-picker {
    row-gap: 1rem;
    width: min-content;
}

.cl-new-random {
    width: fit-content;
}

.cl-new-input {
    background-color: transparent;
    border-radius: 0.5rem;
    color: white;
    width: 6rem;
}

.cl-new-button {
    padding: 2px 1.5ch;
    height: fit-content;
    width: 100%;
}

.cl-picker, .cl-new-random-h3 {
    grid-column: span 2;
}

.cl-new-random-h3 {
    text-transform: capitalize;
    color: white;
}

.cl-new-input-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    gap: 0.25rem;
}

.cl-new-input + label {
    color: white;
    font-size: medium;
}

.cl-new-input:not([aria-invalid=""]) {
    outline: red 2px solid;
}

.cl-new-input:not([aria-invalid=""]) + label::after {
    position: absolute;
    transform: translateY(2rem);
    font-size: smaller;
    color: red;
    display:block;
}

.cl-new-input[aria-invalid="noname"] + label::after {
    content: 'Bitte Farbname eingeben!';
}

.cl-new-input[aria-invalid="usedname"] + label::after {
    content: 'Farbname ist schon vergeben!';
}

.cl-new-input[aria-invalid="color"] + label::after {
    content: 'Farbe ist schon definiert!';
}